.AdminTaskAssign{
    width: 100%;
    height: 90vh;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.AdminTaskAssignWrap{
    width: 80%;
    height: 100%;
    /* justify-content: space-evenly; */
    /* background-color: rgb(0, 89, 255); */
}
.AdminTaskAssignInput{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* background-color: rgb(35, 248, 149); */
}
.AdminTaskAssignSelect{
    width: 100%;
    height: 100%;
    /* background-color: gray; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    /* padding-left: 10px; */
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 20px;
}

.AdminTaskAssignSelect::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
/* UserCard.css */
.user-card {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    text-decoration: none;
    /* flex-wrap: wrap; */
  }
  
  .user-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #0455B4;
    /* background-color: #3498db; */
    color: white;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-info {
    flex: 1;
    text-align: center;
  }
  
  .user-info h3 {
    margin: 0;
    font-size: 24px;
    color: black;
  }
  
  .user-info p {
    margin: 8px 0;
    font-size: 16px;
    color: #666;
  }
  
.AdminTaskAssignCreateTaskButton{
    width: 100%;
    height: 30%;
    /* background-color: #007bff; */
    display: flex;
    align-items: center;
    padding-left: 10px;
    justify-content: center;
}
.AdminTaskAssignCreateTaskButton button{
    width: 70%;
    height: 80%;
    background-color: #0455B4;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;

}



@media screen and (max-width: 426px) {
    .AdminTaskAssign{
        width: 100%;
        height: 90vh;
        /* background-color: gray; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .AdminTaskAssignWrap{
        width: 100%;
        height: 100%;
        padding: 10px;
        /* justify-content: space-evenly; */
        /* background-color: rgb(255, 0, 200); */
    }
    .AdminTaskAssignInput{
        width: 100%;
        height: 100%;
        /* background-color: yellow; */
    }
    .AdminTaskAssignSelect{
        width: 100%;
        height: 100%;
        /* background-color: aqua; */
        flex-wrap: wrap;
        overflow-y: auto;
        gap: 20px;
    }
    .AdminTaskAssignCreateTaskButton{
        width: 100%;
        height: 10%;
        /* background-color: #77b5f8; */
        display: flex;
        align-items: center;
        /* padding-left: 0; */
    }
    .AdminTaskAssignCreateTaskButton button{
        width: 40%;
        height: 80%;
        background-color: #0455B4;
        outline: none;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-size: 13px;

    }
    .AdminTaskAssignSelect .user-card {
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px;
        /* background-color: #a52525; */
        background-color: #f5f5f5;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s, box-shadow 0.2s;
        cursor: pointer;
        text-decoration: none;
        gap: 10px;
      }
      
      .user-card:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
      
      .avatar {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 34px;
        background-color: #0455B4;
        /* background-color: #3498db; */
        color: white;
        border-radius: 50%;
        margin-right: 10px;
      }
      
      .user-info {
        flex: 1;
        text-align: center;
        /* margin-top: 5px; */
      }
      
      .user-info h3 {
        margin: 0;
        font-size: 27px;
        color: black;
      }
      
      .user-info p {
        margin: 8px 0;
        font-size: 16px;
        color: #666;
      }
      .AdminTaskAssignCreateTaskButton{
        width: 100%;
        height: 25%;
        /* background-color: #81b7f5; */
      }
      .AdminTaskAssignCreateTaskButton button{
        width: 80%;
        height: 100%;
        font-size: 18px;
      }
}

 @media screen and (max-width: 768px) {
   /* .AdminTaskAssign{
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .AdminTaskAssignWrap{
        width: 80%;
        height: 100%;
        background-color: rgb(0, 89, 255);
    }
    .AdminTaskAssignInput{
        width: 100%;
        height: 95%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .AdminTaskAssignSelect{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        flex-wrap: wrap;
        overflow-y: auto;
        gap: 20px;
    }
    .user-card {
        width: 40%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px;
        background-color: #f5f5f5;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s, box-shadow 0.2s;
        cursor: pointer;
        text-decoration: none;
      }
      
      .user-card:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
      
      .avatar {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        background-color: #0455B4;
        color: white;
        border-radius: 50%;
        margin-right: 10px;
      }
      
      .user-info {
        flex: 1;
        text-align: center;
      }
      
      .user-info h3 {
        margin: 0;
        font-size: 24px;
      }
      
      .user-info p {
        margin: 8px 0;
        font-size: 16px;
        color: #666;
      }
      
    .AdminTaskAssignCreateTaskButton{
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        padding-left: 10px;
        justify-content: center;
    }
    .AdminTaskAssignCreateTaskButton button{
        width: 70%;
        height: 80%;
        background-color: #0455B4;
        outline: none;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-size: 16px;
    }  */

    .user-card {
        width: 60%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px;
        background-color: #f5f5f5;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s, box-shadow 0.2s;
        cursor: pointer;
        text-decoration: none;
      }
      
      .user-card:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
      
      .avatar {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        background-color: #0455B4;
        color: white;
        border-radius: 50%;
        margin-right: 10px;
      }


    .user-info {
        flex: 1;
        text-align: center;
        /* margin-top: 5px; */
      }
      
      .user-info h3 {
        margin: 0;
        font-size: 27px;
        color: black;
      }
      
      .user-info p {
        margin: 8px 0;
        font-size: 16px;
        color: #666;
      }
} 