.main{
    width: 100%;
    height: 100vh;
    background-color: white;
}
/* Iphone and ipad mockups for easy editing */
/* position: absolute;
width: 1064px;
height: 859px;
left: 2px;
top: -86px;

background: url(.jpg); */
