.main {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.testimonial-section {
  padding: 40px 0;
  margin-top: 10%;
  /* background-color: pink; */
}

.testimonial-section-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: pink; */
  padding: 10px;
  gap: 40px;
}

.testimonial h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.testimonial-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.testimonial-content p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.testimonial-content cite {
  font-style: italic;
  font-size: 16px;
}

.testimonial-section-top-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.developers-section {
  background-color: #f9f9f9;
  padding: 40px 0;
}

.developers-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.developer {
  margin: 40px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s;
}

.developer:hover {
  transform: translateY(-10px);
}

.developers-section-text {
  width: 50%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: black;
  padding-left: 40px;
}

.developer img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 4px solid #007bff;
}

.developer h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.developer p {
  font-size: 18px;
  color: #777;
}


.pricing-section {
  padding: 40px 0;
  /* background-color: #54fda9; */
  /* background-color: #fff; */
  display: flex;
  justify-content: space-evenly;
}

.pricing-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.pricing-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  margin: 0 auto 20px;
  color: #333;
}

.pricing-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.pricing-card p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.pricing-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  padding-bottom: 30px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}



.mainWrap {
  width: 100%;
  height: max-content;
}



.topPictureHolder {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/headerpicture.jpg);
  background-size: cover;
  justify-content: center;
}

.layerColor {
  width: 100%;
  height: 100vh;
  background-color: #0456b494;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'poppins, sans-serif';
  color: white;
  flex-direction: column;
  font-size: smaller;
  align-items: center;
  padding-top: 20px;
}

.aboutText {
  font-size: 22px;
  text-align: center;
  height: 20%;
  width: 75%;
}

.aboutUs {
  font-size: 30px;
}

.ourMainFocus {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.mainFocusAlign {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: pink; */
}


.Section-holder {
  height: 100%;
  width: 100vw;

}

.card-section {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  cursor: pointer;
}

.card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out;
  width: 400px;
  max-width: 85%;
}

.card-img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card:hover {
  transform: scale(1.03);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.card-description {
  font-size: 1rem;
  line-height: 1.4;
  color: #666;
}

.card-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.card-button:hover {
  background-color: #0056b3;
}

.Price-Card{
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
}
.pricing-section{
  /* background-color: red; */
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-bottom: 40%; */
  /* margin-top: 30%; */
}
.pricing-card{
  /* background-color: pink; */
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-card button{
  background-color: #0455B4;
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}


.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-Top {
  background-color: #0455B4;
  padding: 100px 0;
  color: white;
  display: flex;
  flex-direction: column;
}

.footer-Top h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.cta-button {
  display: inline-block;
  padding: 15px 40px;
  background-color: #0455B4;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #0455B4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#services{
  display: flex;
}

.service {
  width: 97%; 
  margin: 20px;
  padding: 20px;
  /* background-color: #26f617; */
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.service h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.service p{
  color: #333;
}

.contact-section {
  /* background-color: #f4f4f4; */
  /* padding: 60px 0; */
  text-align: center;
  background-color: pink;
}

.contact-container {
  max-width: 800px;
  margin: 0 auto;
}

.footer {
  background-color: #0455B4;
  color: white;
  padding: 20px 0;
}

.footer p {
  margin: 0;
}

status-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

/* Apply styles to each status item */
.status-list li {
  font-size: 16px;
  margin-bottom: 10px;
  list-style-type: none;
  display: flex;
}

/* Apply styles to the status indicators */
.status-orange, .status-green, .status-blue {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}

.status-orange {
  background-color: orange; /* Change to desired color */
}

.status-green {
  background-color: green; /* Change to desired color */
}

.status-blue {
  background-color: blue; /* Change to desired color */
}


@media (max-width: 768px) {
  .service {
    width: 90%;
    margin: 20px auto; 
  }

  .footer-Top h1 {
    font-size: 28px; 
  }

  .cta-button {
    font-size: 14px; 
  }

  #services{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    color: #333;
  }
}





@media screen and (max-width: 426px) {
  .main {
    width: 100%;
    height: 100vh;
    display: flex;
  }

  .mainWrap {
    width: 100%;
    height: max-content;
  }

  .topPictureHolder {
    width: 100%;
    height: 50vh;
    background-image: url(/headerpicture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .layerColor {
    width: 100%;
    height: 100%;
    background-color: #0456b494;
    display: flex;
    font-family: 'poppins, sans-serif';
    color: rgb(253, 253, 253);
    flex-direction: column;
    font-size: small;
    align-items: center;
  }

  .aboutUs {
    font-size: 20px;
  }

  .aboutText {
    font-size: 22px;
    text-align: center;
    height: 20%;
    width: 75%;
    font-size: small;
  }

  .ourMainFocus {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mainFocusAlign {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .insideAlign {
    width: 100%;
    height: 80%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .contactUsHolder2 {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
  }

  .leftContent {
    width: 100%;
    height: 47%;
    display: flex;
    align-items: center;
  }

  .paragraphText {
    height: 100%;
    font-size: 15px;
    margin: 0;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 0px;
    line-height: 20px;
    gap: 10px;
  }

  .rightContent {
    width: 100%;
    height: 47%;
  }

  .rightContent img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .uniqueFactors {
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #007bff;
    margin-top: 90%;
  }

  .uniqueFactors h1{
    /* background-color: yellow; */
    /* margin-bottom: 220%; */
    margin-top: 50%;
  }

  .uniqueFactorsAlign {
    width: 100%;
    height: 90%;
    background-color: #0e0101db;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .uniqueFactorsWrap {
    width: 100%;
    height: 100%;
    background-color: red;
  }

  .uniquebox {
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* background-color: yellow; */
  }

  .uniqueContent {
    width: 80%;
    height: 30%;
    /* background-color: rgb(221, 125, 125); */
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .uniqueContentSeprate {
    width: 80%;
    height: 30%;
    /* background-color: rgb(215, 122, 122); */
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 20%;
  }

  .testimonial-section-top-text1{
    width: 100%;
    /* height: 30vh; */
    margin-top: 60%;
    /* background-color: rgb(67, 169, 111); */
    padding-top: 30%;
    /* z-index: 1000; */
  }

  .testimonial-section{
    /* background-color: orange; */
    width: 100%;
    padding: 0;
    margin-top: 230%;  
    /* padding-bottom: 30%; */
  }
  .pricing-section{
    /* background-color: red; */
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 40%; */
    /* margin-top: 30%; */
  }
  .testimonial-section-top-text{
    /* background-color: orangered; */
    margin-top: 20%;
  }
  .Price-Card{
    /* background-color: blue; */
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pricing-card{
    /* background-color: aqua; */
    width: 90%;
  }
  .pricing-card button{
    /* background-color: red; */
    width: 80%;
    /* height: 60px; */
    /* padding-top: 20px;
    padding-bottom: 20px; */
  }
  .Secttext{
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Secttext h1 {
    width: 100%;
    color: black;
    /* background-color: #007bff; */
  }
  .cta-button {
    /* background-color: darkblue;  */
    margin-bottom: 20px;
  }
  .developer{
    /* background-color: red; */
    display: flex;
    justify-content: center;
  }

  .mainFocus {
    width: 100%;
    height: 90vh;
    /* background-color: red; */
  }

  .topBox {
    width: 100%;
    height: 60%;
    background-color: #0455B4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whte;
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
  }

  .topBox .downBttn {
    width: 40%;
    height: 40%;
    /* padding: 20px 10px; */
    /* background-color: #6da4e4; */
    background-color: #0455B4;
    border: 2px solid white;
  }

  .downBox {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
  }

  .downBoxAlign {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: green; */
  }

  .footerImage {
    width: 100%;
    height: 60%;
    /* background-color: orange; */
  }

  .imageAlign {
    width: 50%;
    height: 70%;
    /* background-color: aliceblue; */
  }

  .imageAlign img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footerAlign {
    width: 100%;
    height: 60vh;
    /* background-color: yellow; */
  }

  .footerAlign .footerText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    text-align: center;
    flex-wrap: wrap;
    /* background-color: red; */
  }
}




@media (max-width: 768px) {
  .testimonial-section-wrap {
    flex-direction: column;
    align-items: center;
  }

  .testimonial-content {
    margin-top: 20px;
  }

  .developer {
    flex-direction: column;
    align-items: center;
  }

  .pricing-card {
    margin-bottom: 40px; 
  }

  .topBox {
    height: auto;
    padding: 20px;
  }

  .footerImage,
  .footerAlign {
    width: 100%;
  }

  .card-section {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 100%;
    max-width: none;
  }

  .card-title {
    text-align: center;
  }

  .card-title {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .card-description {
    font-size: 0.9rem;
  }

  .card-button {
    text-align: center;
  }

  .container {
    padding: 0 10px;
    
  }
} 