.userDashBoardHolder{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.UserDashRightHeader{
    width:100% ;
    height: 10%;
    /* background-color: #b40456; */
    background-color: #0455B4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.UserDashRightHeader_Wrap{
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.UserDashRightHeader_Wrap h3{
  margin-bottom: 15px;
}
.UserUserIcon{
    display: none;
}

.optUser11{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  color: #0455B4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  /* margin-left: 0px; */
}

.userprofile11{
  width: 10%;
  height: 15%;
  background: white;
  position: absolute;
  color: #0455B4;
  top: 10%;
  left: 18.5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 320ms ease-in ;
  padding: 10px;
}

.userbox11{
  font-size: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.userbox11 li{
  font-size: 18px;
  font-weight: 500;
  margin-top: 5%;
  color: #0455B4;
  cursor: pointer;
}

@media screen and (max-width: 426px){
    .UserUserIcon{
        display: flex;
    }
    .UserNotificationIcon{
        display: none;
    }
    .main_MobileView{
        width: 100%;
        height: 100vh;
    }
    .main_MobileView2{
        width: 100%;
        height: 100vh;
    }
    .leftBarHolder_MobileView{
    display: block; 
    position: fixed;
    top: 0;
    left: 20%;
    width: 80%;
    height: 100%;
    background-color: #0455B4;
    z-index: 1000;
    overflow-y: auto;
    animation: fadeInRight 2.3s;
    position: relative;
    }
    .AdminSideBarCloseIcon{
        position: absolute;
        right: 5%;
        top: 5%;
        font-size: 40px;
        /* color: #0455B4; */
        animation: fadeOutRight;
        animation-duration: 3s;
        color: white;
        /* background-color: #1d232a; */
    }
    .newTask{
        width: 100%;
        height: 25%;
        padding-left: 26%;
        /* background-color: green; */
    }
    .contentHolder .content{
        width: 100%;
        height: 80%;
        gap: 13px;
        margin-top: 12%;
        /* background-color: black; */
        padding-right: 10%;
    }
    .contentSpace{
        width: 100%;
        height: 3%;
    }
    .newTask:hover{
        background-color: white;
        border-radius: 5px;
        cursor: pointer;
        color: #0455B4;
      }
      .newTask .newTaskIcon .newTaskIconContent{
        font-size: 2px;
      }
      .user{
        width: 90%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        font-size: 17px;
        /* font-family: 'poppins, sans-serif'; */
        /* padding-top: 70%; */
        /* background-color: red; */
        position: absolute;
        bottom: 0;
      }
      .user .signouut{
        font-size: 30px;
      }
      .iconHolder{
        padding-left: 0;
        /* background-color: red; */
      }
       .logoimage{
        /* background-color: rgb(216, 58, 84); */
        margin-left: 30%;
        /* width: 30vw;
        height: 80%;
        padding-top: 10%; */
      }
     /* .logoimage img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      } */
}

@media screen and (max-width: 768px) {
    .UserUserIcon{
        display: flex;
    }
    .UserNotificationIcon{
        display: none;
    }
    .main_MobileView{
        width: 100%;
        height: 100vh;
        /* background-color: red; */
    }
    .main_MobileView2{
        width: 100%;
        height: 100vh;
        /* background-color: blue; */
    }
    .leftBarHolder_MobileView{
    display: block; /* Display the mobile sidebar */
    position: fixed;
    top: 0;
    left: 20%;
    width: 80%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: #0455B4;
    z-index: 1000;
    overflow-y: auto;
    animation: fadeInRight 2s;
    }
    .AdminSideBarCloseIcon{
        position: absolute;
        right: 5%;
        top: 5%;
        font-size: 40px;
        color: #0455B4;
        animation: fadeOutRight;
        animation-duration: 2s;
        /* background-color: #0455B4; */
        color: white;
    }
    .newTask{
        width: 80%;
        height: 25%;
        /* background-color: gray; */
        padding-left: 26%;
    }
    .contentHolder .content{
        width: 100%;
        height: 70%;
        background-color: #0455B4;
        gap: 13px;
        /* margin-top: 5%; */
    }
    .contentSpace{
        width: 100%;
        height: 3%;
        /* background-color: red; */
    }
    .newTask:hover{
        background-color: white;
        border-radius: 5px;
        cursor: pointer;
        color: #0455B4;
        /* color: #0455B4; */
      }
      .newTask .newTaskIcon .newTaskIconContent{
        font-size: 1px;
        /* background-color: red; */
      }
      .user{
        width: 100%;
        height: 20%;
        /* background-color: antiquewhite; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        font-size: 17px;
        /* font-family: 'poppins, sans-serif'; */
        padding: 10px;
        margin-top: 13%;
      }
      .user .signouut{
        font-size: 30px;
      }
      .iconHolder{
        padding-right: 20%;
        /* background-color: red; */
      }
      
      .UserDashRightHeader_Wrap h3{
        display: none;
      }

      .userprofile11{
        width: 20%;
        height: 15%;
        background: white;
        position: absolute;
        color: #0455B4;
        top: 10%;
        left: 0.5%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: all 320ms ease-in ;
        padding: 10px;
      }
      
      
      /* .logoimage{
        width: 50%;
        height: 50%;
        margin-right: 40%;
      }
      .logoimage img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      } */
}