header{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    background-color: white;
}

.headerwrap{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}
.Logo{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Logo img {
    width: 80%;
    height: 100%;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    object-fit: cover;
}

.centerNav{
    width: 40%;
    height: 80%;
    /* background-color: red; */
    padding-top: 20px;  
}

.centerNav ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.centerNav ul li {
    list-style-type: none;
    cursor: pointer;
}

.usericons{
    display: flex;
    align-items: center;
    gap: 3px;
}

.users{
    font-size: 30px;
}

.CTA1{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.CTA{
    display: none;
}

.CTA1 button {
    width: 80%;
    height: 60%;
    border: none;background-color: #0455B4;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.sidebarDiv{
    display: none;
}

.ham{
    display: none;
}

 ul li.active {
    color: blue;
    font-weight: bold; 
    transition: color 0.2s;
}
 ul li.active:hover {
    color: #0455B4; 
}

.optUser{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* font-size: 20px; */
}

.LogSign{
    width: 7%;
    height: 15%;
    background: white;
    position: absolute;
    top: 13%;
    right: 29.5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 320ms ease-in ;
    padding: 10px;
}

.UnBox{
    font-size: 15px;
    list-style-type: none;
    margin: 0;
    color: black;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.Dash{
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    justify-content: space-around;
    /* background-color: pink; */
    cursor: pointer;
}

.Dashboard{
    /* background-color: yellow; */
    font-size: 30px;
}
/* .active {
    font-weight: bold;
    color: blue;
  } */

/* * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: rgba(255, 255, 255, 0.671);
    color: black;
}


.headerwrap{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Logo{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
}



.Logo img {
    width: 100%;
    height: 150%;
    object-fit: cover;
}

.centerNav{
    width: 611px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0A0A0A;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.8px;
}

.centerNav ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    color: black;
}


.centerNav ul li {
    list-style-type: none;
    cursor: pointer;
}

.usericons{
    display: flex;
    align-items: center;
    gap: 3px;
}

.user{
    font-size: 35px;
    font-weight: 200;
    color: black;
}

.CTA{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.CTA button {
    width: 50%;
    height: 40%;
    border: none;
    background-color:#0455B4 ;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.sidebarDiv{
    display: none;
}

.ham{
    display: none;
}

span {
    display: none;
} */