.AdminAllWriter{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    /* align-items: center; */
    /* justify-content: center; */
}
.AdminAllWriterWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background: blueviolet; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */
    overflow-y: scroll;
    gap: 10px;
    padding-top: 10px;

}
.AdminAllWriterWrap{
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* background-color: pink; */
    gap: 20px;
    cursor: pointer;
    text-decoration: none;
}
.AdminAllWriterList{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    line-height: 30px;
    border: 2px solid #0455B4;
}
.AdminAllWriterStatus{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AdminAllWriterIcon{
    font-size: 30px;
    color: #0455B4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: green; */
    border: 1px solid #0455B4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AdminAllWriterInfo{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: left;
    text-decoration: none;
}

@media screen and (max-width: 426px) {
    .AdminAllWriter{
        width: 100%;
        height: 90vh;
        background-color: aliceblue;
    }
    .AdminAllWriterWrap{
        gap: 30px;
    }
}