.AdminDashRightMain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.AdminDashRightHeader{
    width:100% ;
    height: 10%;
    background-color: rgb(0, 77, 128);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.AdminDashRightHeader_Wrap{
width: 95%;
height: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}
.AdminUserIcon{
    display: none;
}
@media screen and (max-width: 426px){
    .AdminUserIcon{
        display: flex;
    }
    .AdminNotificationIcon{
        display: none;
    }
.Adminsidebar_MobileView{
    width: 100%;
    display: flex;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: #0455B4; */
    background-color: rebeccapurple;
    color: #0455B4;
}
.AdminSideBarCloseIcon{
    position: absolute;
    right: 10%;
    top: 12%;
}
.AdminSide_Wrap{
    width: 100%;
    height: 100vh;
    background-color: black;
}
}