.AllTask1 {
  /* background-color: rgb(0, 153, 255); */
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-card1 {
  width: 95%;
  height: 97%;
  /* background-color: pink; */
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.task-card1::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.holders {
  height: 100%;
}

.card-wrap1 {

  padding: 10px;
   border: 1px solid #efefef;
  margin: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* background-color: rgb(247, 65, 244); */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  /* align-items: center; */
}

.task-title1 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: black;
}

.task-description1 {
  margin-bottom: 10px;
  color: #555;
}

.task-timeout1 {
  font-style: italic;
  color: #888;
}

.task-status1 {
   display: inline-block;
  padding: 3px 6px;
  border-radius: 3px;
  font-weight: bold;
  /* background-color: rgb(255, 108, 108); */
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555;
  /* color: black; */
}

.statusstate1 {
  /* width: 10%; */
  /* height: 80%; */
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .colorWrap1 {
  width: 30%;
  height: 100%;

} */

.Admintaskoverviewcolor111 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.Admintaskoverviewcolor1 h4{
  color: #fdd835;
}
.Admintaskoverviewcolor211{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4caf50;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.Admintaskoverviewcolor311{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #2196f3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.commentBox{
  background-color: pink;
  display: flex;
  flex-direction: column;
}
.commentBox input{
  /* width: 50%; */
  /* background-color: red; */
  border-top: 1px solid #0455B4;
  border-left: 1px solid #0455B4;
  border-right: 1px solid #0455B4;
  border-bottom: 1px solid #0455B4;
}