@media screen and (max-width: 426px) {
    .Admintaskoverview{
        width: 100%;
        height: 90vh;
        /* background-color: blue; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Admintaskassigner{
        width: 95%;
        height: 20%;
        background-color: rgb(207, 207, 207);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }
    .Admintaskassignerwrap{
        width: 85%;
        height: 90%;
        /* background-color: blue; */
        border-radius: 50px;
        /* gap: 20px; */
        display: flex;
        flex-direction: column;
    }
    .Admintaskassigntext{
        width: 100%;
        height: 50%;
        /* background-color: aliceblue; */
        padding-left: 10px;
        display: flex;
        flex-direction: row-reverse;
        border-bottom: 1px solid #0455B4;
    }
    .Admintaskassigntext span{
        color: #0455B4;
    }
    .AdmintaskoverviewStatus{
        width: 100%;
        height: 50%;
        /* background-color: rgb(208, 31, 31); */
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
    }
    .Admintaskoverviewcolor1{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #f39c12;;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 700;
    }
    .Admintaskoverviewcolor2{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 700;
    }
    .Admintaskoverviewcolor3{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: green;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 700;
    }
}