/* EditComponent.css */

.edit-container {
    border: 2px solid #0455B4;    /* background-color: #f5f5f5; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: 15px auto;
  }
  
  .edit-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
  }
  
  .save-btn {
    background-color: #0455B4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .save-btn:hover {
    background-color: #0056b3;
  }
  