.SignUpPage{
    width: 100%;
    height: 99.4vh;
    background-color: white ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: relative; */

}
.SignUpWrap{
    width: 100%;
    height: 100%;
    /* background-color: green; */
    display: flex;
}
.SignUpimage{
    width: 50%;
    height: 100%;
    /* background-color: pink; */
}
.SignUpimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.SignUp{
    width: 50%;
    height: 100%;
    /* background-color: black; */
    /* position: absolute; */
    /* top: 30%; */
    /* right: 13%; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.SignUpWrap2{
    width: 98%;
    height: 90%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.signUpText{
    /* background-color: blue; */
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0455B4;
}
.signUpText h3{
  color: #0455B4;
}
.SignUpInput{
    width: 80%;
    /* background-color: yellow; */
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.SignUpInputWrap{
    width: 100%;
    /* background-color: gray; */
    height: 30%;
    /* position: relative; */
}
.SignUpInputWrap input{
    width: 100%;
    height: 80%;
    /* background-color: aqua; */
    outline: none;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #0455B4;
}
.SignUpInputWrap2{
    width: 100%;
    height: 40%;
    /* background-color: aqua; */
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SignUpInputWrap2 input {
    width: 100%;
    height: 60%;
    outline: none;
    border-bottom: 1px solid #0455B4;
}
.Show{
    color: #0455B4;
    position: absolute;
    top: 59%;
    /* bottom: 6%; */
    right: 7%;
    font-size: 20px;
}
.SignUpInputWrap1{
    width: 100%;
    /* background-color: rgb(9, 134, 244); */
    height: 25%;
    display: flex;
    justify-content: space-between;
    /* gap: 270px; */
}
.SignUpInputWrap1 .BTN{
    width: 25%;
    height: 100%;
    background-color: white;
    border: 2px solid #0455B4;
    border-radius: 5px;
    cursor: pointer;
    color: #0455B4;
}
.SignUpInputWrap1 .BTN1{
    width: 25%;
    height: 100%;
    background-color: #0455B4;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.sign-in-link.animate__heartBeat {
  animation: heartBeat 10s;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .SignUpInputWrap3{
    /* background-color: red; */
    width: 100%;
    height: 10%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-right: 55%;
  }
  .SignUpInputWrap3 span{
    width: 100%;
    color: #0455B4;
    cursor: pointer;
  }
  .SignUpInputWrap3 p{
    color: black;
  }
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    z-index: 1000;
    animation: fadeInOut 3s ease-in-out;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
    }
    50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.05);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
    }
  }
  
  .popup p {
    margin: 0;
    font-size: 16px;
    color: #333333;
  }
