@media screen and (max-width: 426px) {
    .SignUpPage{
        width: 100%;
        height: 100vh;
        /* background-color: blue; */
    }
    .SignUpWrap{
        width: 100%;
        height: 100%;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 15%;
    }
    .SignUpimage{
        display: none;
    }
    .SignUp{
        width: 90%;
        height: 100%;
        /* background-color: aqua; */
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .SignUpWrap{
        width: 100%;
        height: 100%;
        /* background-color: rgb(153, 224, 245); */
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        gap: 50px;
        box-shadow: none;
    }
    .signUpText h3{
       /* background-color: pink;  */
       margin-top: 20px;
       color: #0455B4;
    }
    .SignUpInput{
        width: 100%;
        height: 100vh;
        /* background-color: blue; */
    }
    .SignUpInputWrap{
        width: 100%;
        height: 15%;
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
    }
    .SignUpInputWrap input{
        width: 100%;
        height: 80%;
        outline: none;
        /* background-color: aqua; */
        position: relative;
    }
    .SignUpInputWrap p{
        width: 100%;
        height: 20%;
        /* background-color: rgb(13, 237, 13); */
        display: flex;
        justify-content: baseline;
    }
    .SignUpInputWrap .Show{
        font-size: 18px;
        position: absolute;
        right: 10%;
        top: 0;
        /* background-color: green; */
    }
    .SignUpInputWrap1 {
        width: 80%;
        height: 20%;
        /* background-color: rgb(16, 171, 238); */
        gap: 110px;
    }
    .SignUpInputWrap1 .BTN{
        width: 70%;
        height: 80%;
        color: #0455B4;
        /* padding-left: 20%; */
        border-radius: 5px;
        padding: 20px 10% 20px 10%;
        background-color: white;
        /* background-color: #04b43f; */
    }
    .SignUpInputWrap1 .BTN1{
        width: 100%;
        height: 80%;
        /* padding-left: 20%; */
        border-radius: 5px;
        /* padding: 20px 10% 20px 10%; */
        background-color: #0455B4;
        /* background-color: #04b43f; */
    }
    .SignUpInputWrap3{
        width: 100%;
        height: 20%;
        /* background-color: yellow; */
        display: flex;
        flex-direction: row;
        font-size: 15px;
        white-space: nowrap;
        padding-left: 20%;
    }
    .SignUpInputWrap3 span{
        color: #0455B4;
        cursor: pointer;
    }
     .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
    .SignUpPage{
        width: 100%;
        height: 100vh;
        /* background-color: rgb(168, 212, 250); */
    }
    .SignUpWrap{
        width: 100%;
        height: 100%;
        /* background-color: gray; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .SignUpimage{
        display: none;
    }
    .SignUp{
        width: 90%;
        height: 90%;
        /* background-color: antiquewhite; */
    }
    .SignUpWrap2{
        width: 98%;
        height: 90%;
    }
    .SignUpInput{
        width: 100%;
        height: 100%;
    }
    .SignUpInputWrap{
        /* width: 100%;
        height: 60%;
        background-color: yellow; */
        position: relative;
    }
    .SignUpInputWrap input{
        width: 100%;
        height: 70%;
    }
    .SignUpInputWrap .Show{
        font-size: 24px;
    color: #0455B4;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 2px;
    }
    .SignUpInputWrap1{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: space-between;
        /* background-color: gray; */
        /* gap: 20px; */
    }
    .SignUpInputWrap3{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .SignUpInputWrap3 span{
        color: #0455B4;
    }
    .error-message {
        color: red;
        font-size: 14px;
        margin-top: 5px;
      }
      .SignUpInputWrap1 button{
        width: 20%;
        height: 10vh;
        border-radius: 5px;
        padding: 10px;
        /* background-color: #0455B4; */
    }
}

@media (min-width: 769px) and (max-width: 1284px){
    .SignUpPage{
        width: 100%;
        height: 100vh;
        /* background-color: aliceblue; */
    }
    .SignUpWrap{
        width: 100%;
        height: 100%;
        /* background-color: gray; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .SignUpimage{
        display: none;
    }
    .SignUp{
        width: 90%;
        height: 90%;
        /* background-color: antiquewhite; */
        font-size: 25px;
    }
    .SignUpWrap2{
        width: 98%;
        height: 90%;
    }
    .SignUpInput{
        width: 100%;
        height: 100%;
        /* background-color: rebeccapurple; */
    }
    .SignUpInputWrap .Show{
        /* background-color: red; */
        /* margin-top: 4px; */
        font-size: 30px;
    }
    .SignUpInputWrap input{
        width: 100%;
        height: 70%;
        font-size: 25px;
    }
    .SignUpInputWrap1{
        width: 100%;
        /* gap: 20px; */
        /* background-color: yellow; */
        height: 20%;
        display: flex;
        justify-content: space-between;
        /* padding-right: 0; */
    }
    .SignUpInputWrap1 button{
        width: 40%;
        font-size: 25px;
    }
    .SignUpInputWrap3{
        width: 100%;
        height: 10%;
        /* background-color: green; */
        font-size: 25px;
        /* padding-right: 70%; */
    }
    .error-message {
        color: red;
        font-size: 5px;
        margin-bottom: 10px;
      }
}