.content-wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .content-wrap h1{
    color: white;
  }
  
  .contact-page {
    height: 100vh;
    background-color: #0455B4;
  }
  
  .contact-card1 {
    /* background: #b06666; */
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  .contact-card {
    /* background: #b06666; */
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 5px;
    
    /* display: flex;
    gap: 20px; */
  }

  .contact-card p{
    color: black;
  }
  
  .fas {
    font-size: 26px;
    color: #333;
  }
  
  .team {
    background: #f9f9f9;
    padding: 50px 0;
  }
  
  .member {
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);  
    margin: 20px;
  } 
  
  
  
  @media (max-width: 768px) {
    .contact-cards {
      flex-direction: column; 
    }
  }