@media screen and (max-width: 768px) {
    .AdminLoginPage{
        width: 100%;
        height: 100vh;
        /* background-color: rgb(154, 243, 242); */
    }
    .SignWrap{
        width: 100%;
        height: 100%;
        display: flex;
        /* background-color: pink; */
        /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: center; */
    }
    .SignWrap .imag{
        display: none;
    }
    .SignIn{
        width: 100%;
        height: 100%;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
        /* background-color: rgb(177, 177, 245);  */
        padding: 30px;
        /* margin-top: 20px; */
    }
    .signText{
        width: 90%;
        height: 20%;
        /* background-color: pink; */
        color: #0455B4;
        margin-bottom: 40px;
    }
    .input{
        width: 90%;
        /* height: 80%; */
        /* background-color: orange; */
        /* gap: 5px; */
    }
    .EText{
        padding-left: 5%;
    }
    .input .EText input{
        width: 100%;
        /* background-color: aliceblue; */
        /* margin-right: 0; */
    }
    .SignInInputPassword{
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        /* background-color: #c9d953; */
        position: relative;
    }
    .SignInInputPassword .Show{
        font-size: 30px;
        position: absolute;
        right: 10px;
        top: 2px;
        /* background-color: red; */
    }
    .SignInInputPassword input{
        width: 100%;
    }
    .ETextCheckbox{
        width: 100%;
        height: 15%;
        /* background-color: yellow; */
        padding-left: 4%;
    }
    .ETextCheckbox input{
        width: 5%;
        height: 50%;
    }
    .EText1{
        width: 100%;
        /* background-color: red; */
        padding-left: 5%;
    }
    .EText1 button{
        width: 20%;
    }
    .EText4{
        /* background-color: #0455B4; */
        width: 100%;
        padding-left: 5%;
    }
    .forgotpassword{
        width: 100%;
        height: 10%;
        /* background-color: green; */
        padding-left: 6%;
    }
}

@media (min-width: 769px) and (max-width: 1284px){
    .AdminLoginPage{
        width: 100%;
        height: 100vh;
    }
    .SignWrap{
        width: 100%;
        height: 100%;
        display: flex;
        background-color: rgb(253, 247, 253);
    }
    .SignWrap .imag{
        display: none;
    }
    .SignIn{
        width: 100%;
        height: 100%;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
        /* background-color: rgb(201, 201, 246);  */
        padding: 30px;
    }
    .EText{
        width: 80%;
        height: 15%;
        /* background-color: lawngreen; */
        padding-left: 5%;
    }
    .EText input {
        width: 100%;
        font-size: 25px;
    }
    .signText{
        width: 80%;
        height: 10%;
        /* background-color: pink; */
        color: #0455B4;
        font-size: 25px;
        margin-bottom: 20px;
    }
    .SignInInputPassword{
        width: 80%;
        height: 15%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        /* background-color: #eef3c9; */
        position: relative;
    }
    .SignInInputPassword input{
        width: 100%;
        font-size: 25px;
    }
    .SignInInputPassword .Show{
        font-size: 30px;
        position: absolute;
        right: 20px;
        top: 14px;
        /* background-color: red; */
    }
    .ETextCheckbox{
        width: 80%;
        height: 15%;
        /* background-color: yellow; */
    }
    .ETextCheckbox span{
        font-size: 25px;
    }
    .ETextCheckbox input{
        width: 5%;
        height: 50%;
        font-size: 10px;
    }
    .EText1{
        width: 80%;
        /* background-color: green; */
        padding-left: 5%;
    }
    .EText1 button{
        width: 20%;
        height: 80%;
        font-size: 25px;
    }
    .EText4{
        /* background-color: gray; */
        width: 80%;
        height: 8%;
        font-size: 25px;
        padding-left: 5%;
        gap: 10px;
    }
    .forgotpassword{
        width: 80%;
        height: 10%;
        /* background-color: pink; */
        font-size: 25px;
    }
}

@media screen and (max-width: 426px) {
    .AdminLoginPage{
        width: 100%;
        height: 100vh;
    }

    .SignWrap{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        /* background-color: gray; */
    }
    .SignWrap img{
        display: none;
    }
    .signText{
        width: 100%;
        height: 20%;
        /* background-color: pink; */
        text-align: center;
        margin-bottom: 10%;
    }
    .signText p span{
        color: rgb(66, 93, 167);
        /* padding-top: 10px; */
    }
    .input{
        width: 100%;
        height: 80%;
        /* background-color: gray; */
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .SignInInputPassword{
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        /* background-color: rebeccapurple; */
    }
    .SignInInputPassword input{
        width: 100%;
        height: 100%;
        outline: none;
        padding-left: 5px;
        border-radius: 0;
        position: relative;
    }
    .SignInInputPassword .Show{
        font-size: 23px;
        position: absolute;
        right: 10px;
        top: 0;
    }
    .EText{
        width: 100%;
        height: 19%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        /* background-color: #53d95e; */
        /* padding-right: 16%; */
    }
    .EText input{
    width: 200vw;
    height: 100%;
    outline: none;
    padding-left: 8px;
    border-radius: 0;
    /* border-bottom: 1px solid #e91616; */
    /* background-color: red; */
    }
    .ETextCheckbox{
        width: 100%;
        height: 20%;
        /* background-color: yellow; */
        display: flex;
        align-items: center;
        justify-content: left;
        /* padding-right: 50%; */
        padding-left: 20px;
    }
    .ETextCheckbox input{
        width: 3%;
        height: 50%;
        /* background-color: pink; */
        /* margin-right: 20%; */
    }
    .EText1{
        width: 100%;
        /* background-color: black; */
        padding-left: 15px;
        /* padding-top: 20px; */
        margin-top: 20px;
    }
    .EText1 button{
        width: 90%;
        height: 50px;
        background-color: #0455B4;
        border: none;
        border-radius: 7px;
        color: white;
        cursor: pointer;
    }
    .EText4{
        width: 100%;
        padding-left: 20px;
        /* background-color: yellow; */
        gap: 10px;
    }
    .EText4{
        gap: 20px;
    }
    .AdminwelcomeMssg{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5390D9;
    font-size: 18px;
    color: white;
    text-align: center;
    }
    .forgotpassword{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #0455B4;
        /* margin: 20px; */
        padding-top: 20px;
        /* background-color: orange; */
    }
}