.AdminLoginPage{
    width: 100%;
    height: 99.2vh;
    background-color: white ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SignWrap{
    width: 100%;
    height: 100%;
    /* background-color: gray; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* flex-direction: column; */
    /* border: 1px solid green; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* position: relative; */
}

.imag{
    width: 50%;
    height: 100%;
    /* background-color: cadetblue; */
    object-fit: contain;
}

.imag img{
    width: 100%;
    height: 100%;
    /* position: absolute; */
}

.SignIn{
    width: 50%;
    height: 100%;
    /* background-color: rgb(143, 38, 38); */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20%;
    z-index: 500;
    padding: 10px;
}

.SignInWrap{
    width: 100%;
    height: 70%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* position: absolute;
    top: 30%;
    right: 2%; */
}

.signText{
    width: 100%;
    height: 20%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;    
    color: #0455B4;
    cursor: pointer;
    margin-bottom: 10px;
}

.signText h3{
    color: #0455B4;
}

.signText p{
    color: black;
}
.signText span{
    color: #0455B4;
}
.signText span:hover{
    color: #0455B4;
    text-decoration: underline;
}

.input{
    width: 100%;
    height: 80%;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.forgotpassword{
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #0455B4;
    /* background-color: red; */
    padding-left: 70px;
    padding-top: 20px;
}

.forgotpassword p:hover{
    color: #0455B4;
    text-decoration: underline;
}

.forgotpassword p{
    color: #0455B4;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    z-index: 1000;
    animation: fadeInOut 3s ease-in-out;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
    }
    50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.05);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
    }
  }
  
  .popup p {
    margin: 0;
    font-size: 16px;
    color: #333333;
  }

.SignInInputPassword{
    width: 100%;
    /* height: 5%; */
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
    position: relative;
    padding-left: 5%;
    /* padding-right: 34%; */
    /* background-color: rgb(201, 184, 184); */
}

.SignInInputPassword input{
    width: 70%;
    height: 100%;
    outline: none;
    padding-left: 5px;
    border-radius: 3px;
    border-bottom: 1px solid #0455B4;
    border-top: none;
    border-left: none;
    border-right: none;
    /* border-bottom: 1px solid #ccc; */
    background-color: transparent;
}

.SignInInputPassword .Show{
    font-size: 22px;
    color: #0455B4;
    cursor: pointer;
    position: absolute;
    right: 110px;
    top: 8px;
}

.EText{
    width: 100%;
    /* height: 5%; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: left;
    /* background-color: red; */
    padding-left: 20%;
}

.EText input{
    width: 82%;
    height: 100%;
    outline: none;
    padding-left: 5px;
    border-radius: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #0455B4;
    background-color: transparent;
}

.ETextCheckbox{
    width: 80%;
    height: 10%;
    /* background-color: green; */
    display: flex;
    align-items: center;
     padding-top: 10px;
     padding-left: 60px;
    gap: 10px;
}

.ETextCheckbox input{
    width: 5%;
    height: 50%;
}

.EText1{
    width: 75%;
    height: 20%;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
    gap: 100px;
    /* background-color: red; */
    padding-left: 50px;
}

.EText1 .Lbtn1{
    width: 25%;
    height: 50px;
    background-color: white;
    border: 2px solid #0455B4;
    /* border: none; */
    border-radius: 7px;
    color: #0455B4;
    cursor: pointer;
}
.EText1 .Lbtn{
    width: 25%;
    height: 50px;
    background-color: #0455B4;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

.EText4{
    width: 75%;
    padding-left: 50px;
}

.EText4 p{
    color: black;
}
.EText4 span{
    color: #0455B4;
    cursor: pointer;
}
.EText4 span:hover{
    text-decoration: underline;
}


.AdminwelcomeMssg {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5390D9;
    color: rgb(255, 241, 241);
    position: relative;
    top: 0px;
    font-size: 18px;
    margin-top: 15px;
    padding: 10px;
    z-index: 100;
    animation: zoomIn;
    animation-duration: 3s;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }